body::-webkit-scrollbar {
  display: none;
}

#show-favourites {
  display: none;
  font-size: 1.7rem;
}

/* MAIN SECTION */

#main-section {
  min-height: 89vh;
  width: 65%;
}

/* #Suggestions-container {
  min-height: 100%;
  justify-content: center;
  padding: 2rem;
} */

/* card  */

a {
  box-sizing: border-box;
}

#card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.card {
  border: transparent;
  background-color: darkgray;
}

.card > img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card-title {
  font-size: medium;
  font-weight: 500;
}

.card-title a {
  text-decoration: none;
  color: var(--default-text-color);
}

.card-title a:hover {
  text-decoration: underline;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.text-decoration {
  text-decoration: none;
}

#rating {
  color:lightblue;
  font-size: small;
  font-weight: 600;
  letter-spacing: 0.1em;
}

/* FAVORITES SECTION */

#favourites-section {
  width: 33%;
  height: 100vh;
  z-index: 1;
  flex-direction: column;
}

#empty-fav-text {
  margin-top:2%;
  margin-left: 5%;
}

#fav-movies-container {
  overflow-y: scroll;
  width: 500px;
  height: 500px;
}

/* Scrollbar customisation */

#fav-movies-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#fav-movies-container::-webkit-scrollbar-track {
  border-radius: 20px;
}

/* Handle */
#fav-movies-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

.fav-movie-card {
  padding-right: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.fav-movie-poster {
  width: 80px;
  height: 100px;
}

.fav-movie-name {
  text-decoration: none;
}

.fav-movie-name:hover {
  text-decoration: underline;
}

.movie-card-details {
  width: 60%;
}

.delete-btn {
  cursor: pointer;
}

.fa-trash-can {
  font-size: 1.3rem;
}
